<!DOCTYPE html>

<html>

<head>
    <title> About </title>
    <link rel="icon" href="/img/weather.png">
    {{!-- Access style sheet in the head --}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{!-- access the haeder and footer from partials like this. Html files can't do this --}}
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.png">
        <h3>Chidinma Nwoye</h3>
        <h4>Backend Developer</h4>
        <br>
        <p>This site was created by Chidinma Nwoye. It uses data from mapbox.com and darksky.net to provide weather information about a particular location. </p>
        
    </div>
    
    {{>footer}}
</body>

</html>