{{!-- The header to be seen on every page --}}
<header>
    <h1>{{title}}</h1>

    {{!-- access all pages on one page by creating link  --}}
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>

